<!-- Footer -->


<footer class="modern-footer">
  <div class="footer-container">
    <div class="footer-social">
      {% if site.email %}
        <a href="mailto:{{ site.email | encode_email }}" title="Email"><i class="far fa-envelope"></i></a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
      {% endif %}
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://instagram.com/{{ site.instagram_username }}" title="Instagram"><i class="fab fa-instagram"></i></a>
      {% endif %}
    </div>
    <div class="footer-info">
      <span>&copy; {{ site.author }} {{ 'now' | date: "%Y" }}. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
